html,body{
    padding: 0;
    margin:0;
    background-image: url(https://wallpaperaccess.com/full/1728937.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    background-position: center;
}
#game{
    display: flex;
    justify-content: space-evenly;
    border:1px solid black;     
    
}
#head{
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    color: black;
    background-color: antiquewhite;
    border-radius: 25% 0 25% 0;
    border:2px solid black;
    text-decoration: underline;
}
h3{
    color:white;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mycanvas{
    height: 70vh;
    width:70vw;
    border:5px solid orange;
    background-image: linear-gradient(to right, green, lightgreen);
margin-top: 7rem;
    margin-left: 18vw;
}

#score{
    z-index: 1;
}
.btn{
    margin-bottom: 1rem;
}
#btn_div{
    position: absolute;
    left:10px;
    z-index: 3      ;
}
button{
    padding: 10px 14px;
    border:0px;
   background-color: antiquewhite;
    background-image: linear-gradient(135deg, black,white,black);
    color:black;
    border-radius:1rem;
}
